<template>
  <v-container>
      <v-layout row>
          <v-flex xs12 sm6>
              <v-text-field
                label="Application ID"
              ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
              <v-text-field
                label="Last 4 of SSN"
                mask="####"
              ></v-text-field>
          </v-flex>          
      </v-layout>
      <v-layout row justify-end>
        <v-btn 
        color="info"
        @click="submit()"
        >
            Retreive Application
        </v-btn>
      </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
      return {

      }
  },
  methods: {
      submit () {

      }
  }
}
</script>

