<template>
  <v-card>
    <v-toolbar color="green" dark tabs>
      <v-toolbar-title>GreenSky</v-toolbar-title>
      <v-tabs
        slot="extension"
        slider-color="yellow"
        v-model="active"
      >
        <v-tab>
          New Application
        </v-tab>
        <v-tab>
            Existing Loan
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="active">
      <v-tab-item>
        <NewApplication></NewApplication>
      </v-tab-item>
      <v-tab-item>
        <ExistingLoan></ExistingLoan>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import NewApplication from '@/components/tabs/creditCheckFinancers/GreenSky/NewApplication'
import ExistingLoan from '@/components/tabs/creditCheckFinancers/GreenSky/ExistingLoan'

export default {
  data () {
    return {
      active: null
    }
  },
  components: {
    NewApplication,
    ExistingLoan
  }
}
</script>
