<template>
  <v-container>
      <v-layout row wrap>
          <v-flex xs12 sm6>
              <v-text-field
                label="First Name"
                v-model="formData.applicant.firstName"
              ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
              <v-text-field
                label="Last Name"
                v-model="formData.applicant.lastName"
              ></v-text-field>
          </v-flex>          
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm6>
              <v-text-field
                label="Street Address"
                v-model="formData.applicant.address"
              ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
              <v-text-field
                label="Apt/Suite"
                v-model="formData.applicant.apt"
              ></v-text-field>
          </v-flex>          
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm6>
              <v-text-field
                label="City"
                v-model="formData.applicant.city"
              ></v-text-field>
          </v-flex>
          <v-flex xs6 sm3>
              <v-text-field
                label="State"
                mask="AA"
                v-model="formData.applicant.state"
              ></v-text-field>
          </v-flex>
          <v-flex xs6 sm3>
              <v-text-field
                label="Zip"
                mask="#####"
                v-model="formData.applicant.zip"
              ></v-text-field>
          </v-flex>       
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm6>
              <v-text-field
                label="Phone"
                mask="(###) ###-####"
                v-model="formData.applicant.phone"
              ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
              <v-text-field
                label="Date of Birth"
                mask="##/##/####"
                v-model="formData.applicant.dateOfBirth"
              ></v-text-field>
          </v-flex>          
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm6>
              <v-text-field
                label="Email"
                v-model="formData.applicant.email"
              ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
              <v-text-field
                label="Social Security Number"
                mask="###-##-####"
                v-model="formData.applicant.ssn"
              ></v-text-field>
          </v-flex>          
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm6>
              <v-text-field
                label="Pre-Tax Annual Income"
                mask="$ #######"
                v-model="formData.applicant.preTaxIncome"
              ></v-text-field>
          </v-flex>
      </v-layout>
      <v-layout>
        <v-btn 
          :color="coapplicant?'info':''"
          @click="coapplicant = !coapplicant"
        >
          Co-Applicant
        </v-btn>
      </v-layout>
      <v-slide-y-transition>
        <div v-if="coapplicant">
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="First Name"
                        v-model="formData.coapplicant.firstName"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Last Name"
                        v-model="formData.coapplicant.lastName"
                    ></v-text-field>
                </v-flex>          
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Street Address"
                        v-model="formData.coapplicant.address"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Apt/Suite"
                        v-model="formData.coapplicant.apt"
                    ></v-text-field>
                </v-flex>          
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="City"
                        v-model="formData.coapplicant.city"
                    ></v-text-field>
                </v-flex>
                <v-flex xs6 sm3>
                    <v-text-field
                        label="State"
                        mask="AA"
                        v-model="formData.coapplicant.state"
                    ></v-text-field>
                </v-flex>
                <v-flex xs6 sm3>
                    <v-text-field
                        label="Zip"
                        mask="#####"
                        v-model="formData.coapplicant.zip"
                    ></v-text-field>
                </v-flex>       
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Phone"
                        mask="(###) ###-####"
                        v-model="formData.coapplicant.phone"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Date of Birth"
                        mask="##/##/####"
                        v-model="formData.coapplicant.dateOfBirth"
                    ></v-text-field>
                </v-flex>          
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Email"
                        v-model="formData.coapplicant.email"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Social Security Number"
                        mask="###-##-####"
                        v-model="formData.coapplicant.ssn"
                    ></v-text-field>
                </v-flex>          
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <v-text-field
                        label="Pre-Tax Annual Income"
                        mask="$ #######"
                        v-model="formData.coapplicant.preTaxIncome"
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </div>
      </v-slide-y-transition>
      <v-layout row justify-end>
          <!-- <v-flex > -->
              <v-btn 
                color="info"
                @click="submit()"
              >
                  Submit
              </v-btn>
          <!-- </v-flex> -->
      </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
      return {
          formData:{
              applicant: {
                  firstName: '',
                  lastName: '',
                  address: '',
                  apt: '',
                  city: '',
                  state: '',
                  zip: '',
                  phone: '',
                  dateOfBirth: '',
                  email: '',
                  ssn: '',
                  preTaxIncome: ''
              },
              coapplicant: {
                  firstName: '',
                  lastName: '',
                  address: '',
                  apt: '',
                  city: '',
                  state: '',
                  zip: '',
                  phone: '',
                  dateOfBirth: '',
                  email: '',
                  ssn: '',
                  preTaxIncome: ''
              }
          },
          coapplicant: false
      }
  },
  computed: {
      boltData () {
          return this.$store.getters.boltData
      },
      copyOfBoltData () {
          return this.$store.getters.boltDataCopy
      }
  },
  methods: {
      submit () {
          console.log(this.formData)
      },
      updateLocalData (storeData) {
          var localData = this.formData.applicant
          for (var key in localData) {
              if (storeData.Project.hasOwnProperty(key)) {
                  localData[key] = storeData.Project[key]
              }
          }
      }
  },
  watch: {
      boltData (value) {
          this.updateLocalData(value)
      }
  },
  mounted () {
      this.updateLocalData(this.boltData)
  }
}
</script>
