<template>
  <v-container grid-list-xl>
    <v-layout row justify-center>
      <v-flex xs12 sm8>
        <GreenSky v-if="financer == 'GreenSky'"></GreenSky>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import GreenSky from '@/components/tabs/creditCheckFinancers/GreenSky/GreenSky'

export default {
  data () {
    return {
      
    }
  },
  computed: {
    financer () {
      return this.$store.getters.boltData.Financer.name
    }
  },
  components: {
    GreenSky
  }
}
</script>
