<template>
  <v-container grid-list-xl>
    <v-layout row justify-center>
      <v-flex xs12 sm8>
        <v-card>
          <v-toolbar>
            <v-toolbar-title>Email DCP Envelope Recipients</v-toolbar-title>
          </v-toolbar>
          <v-container>
            <v-layout row>
              <v-flex>
                <v-switch
                  label="Salesman"
                  v-model="showSalesman"
                  color="info"
                ></v-switch>
              </v-flex>
            </v-layout>
            <v-slide-y-transition>
              <v-layout row v-show="showSalesman">
                <v-flex>
                  <v-card>
                    <v-card-text>
                      <v-layout row>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="First Name"
                            v-model="boltData.SalesRep.firstName"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="Last Name"
                            v-model="boltData.SalesRep.lastName"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            label="Email"
                            v-model="boltData.SalesRep.email"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-slide-y-transition>
            <v-layout row>
              <v-flex>
                <v-switch
                  label="Home Owner"
                  v-model="showHomeOwner"
                  color="info"
                ></v-switch>
              </v-flex>
            </v-layout>
            <v-slide-y-transition>
              <v-layout row v-show="showHomeOwner">
                <v-flex>
                  <v-card>
                    <v-card-text>
                      <v-layout row>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="First Name"
                            v-model="boltData.Project.firstName"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="Last Name"
                            v-model="boltData.Project.lastName"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            label="Email"
                            v-model="boltData.Project.email"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-slide-y-transition>
            <v-layout row>
              <v-flex>
                <v-switch
                  label="Co-Borrower"
                  v-model="showCoborrower"
                  color="info"
                ></v-switch>
              </v-flex>
            </v-layout>
            <v-slide-y-transition>
              <v-layout row v-show="showCoborrower">
                <v-flex>
                  <v-card>
                    <v-card-text>
                      <v-layout row>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="First Name"
                            v-model="coBorrowerInfo.firstName"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="Last Name"
                            v-model="coBorrowerInfo.lastName"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            label="Email"
                            v-model="coBorrowerInfo.email"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-slide-y-transition>
            <v-layout row>
              <v-flex>
                <v-switch
                  label="Utility Bill name is different from Home Owner"
                  v-model="utilityBill"
                  color="info"
                ></v-switch>
              </v-flex>
            </v-layout>
            <v-slide-y-transition>
              <v-layout row v-show="utilityBill">
                <v-flex>
                  <v-card>
                    <v-card-text>
                      <v-layout row>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="First Name on Bill"
                            v-model="utilityInfo.firstName"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            label="Last Name on Bill"
                            v-model="utilityInfo.lastName"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            label="Email on Bill"
                            v-model="utilityInfo.email"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-slide-y-transition>
            <v-layout row justify-end>
              <v-btn 
                color="info"
                @click="send()"
                :loading="sending"
              >
                <v-icon left>email</v-icon>
                Send DCP Envelopes
              </v-btn>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      showSalesman: true,
      showHomeOwner: true,
      showCoborrower: false,
      utilityBill: false,
      sending: false,
      coBorrowerInfo: {
        firstName: '',
        lastName: '',
        email: '',
      },
      utilityInfo: {
        firstName: '',
        lastName: '',
        email: '',
      }
    }
  },
  computed: {
    boltData () {
      return this.$store.getters.boltDataCopy
    }
  },
  methods: {
    send () {
      var self = this
      self.sending = true;
      setTimeout(function () {
        self.sending = false;
      }, 3000)
    }
  }
}
</script>
