<template>
  <v-container grid-list-xl>
    <v-layout row justify-center>
      <v-flex xs12 sm8>
        <v-card>
          <v-toolbar tabs>
            <v-toolbar-title>Order LED Lights</v-toolbar-title>
            <v-tabs
              slot="extension"
              slider-color="yellow"
              v-model="active"
            >
              <v-tab>
                Shipping Details
              </v-tab>
              <v-tab>
                Order Processing
              </v-tab>
              <v-tab>
                Order Details
              </v-tab>
            </v-tabs>
          </v-toolbar>
          <v-tabs-items v-model="active">
            <v-tab-item>
              <v-container>
                <v-layout>
                  <v-flex>
                    <h3>Delivery Preference</h3>
                    <v-radio-group v-model="deliveryPreference">
                      <v-radio
                        label="Drop Shipped"
                        value="dropShipped"
                      ></v-radio>
                      <v-radio
                        label="Will-Call"
                        value="willCall"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex>
                    <v-text-field
                      label="Customer Email"
                      v-model="boltData.Project.email"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex>
                    <v-text-field
                      label="Street Address"
                      v-model="boltData.Project.address"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="City"
                      v-model="boltData.Project.city"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="State"
                      v-model="boltData.Project.state"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Zip"
                      v-model="boltData.Project.zip"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-tab-item>
            <v-tab-item>
              <v-container>
                <v-layout>
                  <v-flex>
                    <h3>Process Order</h3>
                    <v-radio-group v-model="orderProcessing">
                      <v-radio
                        label="Now"
                        value="now"
                      ></v-radio>
                      <v-radio
                        label="After Site Survey Approved/Complete"
                        value="siteSurvey"
                      ></v-radio>
                      <v-radio
                        label="After Perfect Packet Approved/Complete"
                        value="perfectPacket"
                      ></v-radio>
                      <v-radio
                        label="After Construction Complete"
                        value="construction"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-tab-item>
            <v-tab-item>
              <v-container>
                <h3>Standard Bulbs</h3>
                <v-layout row>
                  <v-flex sm1>
                    <ExamplePopup title="A19: Standard Bulb" path="A19_Standard.jpg"></ExamplePopup>
                  </v-flex>
                  <v-flex sm5>
                    <v-text-field
                      label="A19: Standard Bulb"
                      v-model.number="orderDetails.a19_standard"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm1>
                    <ExamplePopup title="A19: Dimmable Bulb"></ExamplePopup>
                  </v-flex>
                  <v-flex sm5>
                    <v-text-field
                      label="A19: Dimmable Bulb"
                      v-model.number="orderDetails.a19_dimmable"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                      label="BR 30:6'' Canned"
                      v-model.number="orderDetails.br30_6_canned"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      label="PAR 30:6'' Canned"
                      v-model.number="orderDetails.par30_6_canned"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                      label="BR 20:4'' Canned"
                      v-model.number="orderDetails.br30_4_canned"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      label="G25: Globe"
                      v-model.number="orderDetails.g25_globe"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                      label="Candelabra"
                      v-model.number="orderDetails.candelabra"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      label="MR16: Track"
                      v-model.number="orderDetails.mr16_track"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                      label="T8:2' Linear"
                      v-model.number="orderDetails.t8_2_linear"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      label="T8:4' Linear"
                      v-model.number="orderDetails.t8_4_linear"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <h3>Specialty Bulbs</h3>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                      label="A19: Clear Bulb"
                      v-model.number="orderDetails.a19_clear"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      label="PAR 30: Wet Rated"
                      v-model.number="orderDetails.par30_wet"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex>
                    <v-text-field
                      label="G25: Clear Globe"
                      v-model.number="orderDetails.g25_clear_globe"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      label="PAR 30: 3000"
                      v-model.number="orderDetails.par30_3000"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-tab-item>
          </v-tabs-items>
          <v-container>
            <v-layout justify-center>
              <v-btn 
                color="info"
                @click="sendDocs()"
                :loading="sending"
              >
                <v-icon left>email</v-icon>
                Send Documents
              </v-btn>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ExamplePopup from '@/components/ExamplePopups/ExamplePopup'

export default {
  data () {
    return {
      active: null,
      deliveryPreference: 'dropShipped',
      orderProcessing: 'now',
      orderDetails: {
        a19_standard: 0,
        a19_dimmable: 0,
        br30_6_canned: 0,
        br30_4_canned: 0,
        par30_6_canned: 0,
        g25_globe: 0,
        candelabra: 0,
        mr16_track: 0,
        t8_2_linear: 0,
        t8_4_linear:0,
        a19_clear: 0,
        par30_wet: 0,
        g25_clear_globe: 0,
        par30_3000: 0
      },
      sending: false
    }
  },
  computed: {
    boltData () {
      return this.$store.getters.boltDataCopy
    }
  },
  methods: {
    sendDocs () {
      var self = this
      self.sending = true;
      setTimeout(function () {
        self.sending = false;
      }, 3000)
    }
  },
  components: {
    ExamplePopup
  }
}
</script>
