<template>
  <v-container grid-list-xl>
    <v-layout row justify-center>
      <v-flex xs12 sm8>
        <v-card>
          <v-toolbar>
            <v-toolbar-title>Email Loan Docs</v-toolbar-title>
          </v-toolbar>
          <v-container>
            <v-layout justify-center>
              <v-btn 
                color="info"
                @click="sendDocs()"
                :loading="sending"
              >
                <v-icon left>email</v-icon>
                Send Documents
              </v-btn>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      sending: false
    }
  },
  methods: {
    sendDocs () {
      var self = this
      self.sending = true;
      setTimeout(function () {
        self.sending = false;
      }, 3000)
    }
  }
}
</script>
