<template>
  <v-container grid-list-xl>
    <v-layout row justify-center>
      <v-flex xs12 sm8>
        <!-- Specific to this layout -->
        <v-card>
          <v-toolbar>
            <v-toolbar-title>Proposal Details</v-toolbar-title>
          </v-toolbar>
          <v-container>
            <v-layout>
              <v-flex lg4 sm6><h3>Created Date:</h3></v-flex>
              <v-flex lg3>{{createdDate}}</v-flex>
            </v-layout>
            <v-layout>
              <v-flex lg4 sm6><h3>System Size:</h3></v-flex>
              <v-flex lg3>{{systemSize}}</v-flex>
            </v-layout>
            <v-layout>
              <v-flex lg4 sm6><h3>Panel Count:</h3></v-flex>
              <v-flex lg3>{{panelCount}}</v-flex>
            </v-layout>
            <v-layout>
              <v-flex lg4 sm6><h3>Panel Type:</h3></v-flex>
              <v-flex lg3>{{panelType}}</v-flex>
            </v-layout>
            <v-layout>
              <v-flex lg4 sm6><h3>Watts Per Panel:</h3></v-flex>
              <v-flex lg3>{{wattsPerPanel}}</v-flex>
            </v-layout>
            <v-layout>
              <v-flex lg4 sm6><h3>Inverter Count:</h3></v-flex>
              <v-flex lg3>{{inverterCount}}</v-flex>
            </v-layout>
            <v-layout>
              <v-flex lg4 sm6><h3>Inverter Manufacturer:</h3></v-flex>
              <v-flex lg3>{{inverterManufacturer}}</v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    
    <v-layout row justify-center>
      <v-flex xs12 sm8>
        <!-- Alternate approach using custom component -->
        <DataCard1 :title="testTitle" :fields="fields"></DataCard1>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import DataCard1 from '@/components/DataCards/DataCard1'

export default {
  data () {
    return {
      createdDate: '12/12/1212',
      systemSize: '1234 W',
      panelCount: 50,
      panelType: 'Jinko 285 BOB',
      wattsPerPanel: 285,
      inverterCount: 1,
      inverterManufacturer: 'Solar Edge',

      testTitle: 'Proposal Details',
      fields: [
        {label:'Created Date', value:'12/12/1212'},
        {label:'System Size', value:'1234 W'},
        {label:'Panel Size', value:50},
        {label:'Panel Type', value:'Jinko 285 BOB'},
        {label:'Watts Per Panel', value:285},
        {label:'Inverter Count', value:1},
        {label:'Inverter Manufacturer', value:'Solar Edge'}
      ]
    }
  },
  components: {
    DataCard1
  }
}
</script>
