// Creates a card with read-only fields
// Properties:
// - title (string)     -> Defines header of card
// - fields (array [{label:'', value:''}]) -> Array of fields/values to display
<template>
    <v-card>
        <v-toolbar>
        <v-toolbar-title>Proposal Details</v-toolbar-title>
        </v-toolbar>
        <v-container>
            <v-layout v-for="field in fields" :key="field.label">
                <v-flex lg4 sm6><h3>{{field.label}}:</h3></v-flex>
                <v-flex lg3>{{field.value}}</v-flex>
            </v-layout>            
        </v-container>
    </v-card>
</template>

<script>
export default {
  data () {
    return {

    }
  },
  props: ['title', 'fields']
}
</script>
