<template>
  <v-app>
    <v-navigation-drawer 
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      mobile-break-point="960"
      width="250"
      app 
      v-model="sideNav"
      dark
    >
      <v-list>
        <v-list-tile 
          v-for="item in menuItems" 
          :key="item.title"
          :to="item.link"
          active-class="black--text white"
        >
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar 
      dark 
      class="primary" 
      app 
      fixed
      :clipped-left="$vuetify.breakpoint.mdAndUp"
    >
      <v-toolbar-side-icon @click="sideNav = !sideNav" class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor:pointer;">GoSolar</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat>
          <v-icon left>person</v-icon>
          Login
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      sideNav: true,
      menuItems: [
        {icon: 'work', title: 'Proposal', link: '/proposal'},
        {icon: 'attach_money', title: 'Credit Check', link: '/creditcheck'},
        {icon: 'insert_drive_file', title: 'Loan Docs', link: '/loandocs'},
        {icon: 'local_post_office', title: 'DCP', link: '/dcp'},
        {icon: 'lightbulb_outline', title: 'LED Lights', link: '/led'},
        {icon: 'adjust', title: 'Nest Thermostat', link: '/nest'},
        {icon: 'camera_alt', title: 'Site Survey', link: '/sitesurvey'}
      ]
    }
  }
}
</script>
