<template>
  <div>
  <!-- <v-flex sm1> -->
    <v-btn icon @click="show = true">
      <v-icon>help</v-icon>
    </v-btn>
    <v-dialog v-model="show" max-width="600px">
      <v-card>
      <v-card-text>
            <h3>{{title}}</h3>
            <img :src="imagePath">
      </v-card-text>
      </v-card>
    </v-dialog>
  <!-- </v-flex> -->

  </div>
</template>

<script>
export default {
  data () {
      return {
          show: false
      }
  },
  props: ['title', 'path'],
  computed: {
    imagePath () {
      // return require('@/assets/' + this.path)
      return '@/assets/' + this.path
    }
  }
}
</script>
